rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthed() {
      return request.auth != null;
    }

    match /admin_audit_logs/{doc} {
      allow read, write: if false;
    }

    match /users/{docId} {
      allow read:   if isAuthed();
      allow create: if isAuthed();
      allow update: if isAuthed();
      allow delete: if isAuthed();
    }

    match /meetings/{docId} {
      allow read:   if isAuthed();
      allow create: if isAuthed();
      allow update: if isAuthed();
      allow delete: if isAuthed();
    }

    match /calendar_history/{docId} {
      allow read:   if isAuthed();
      allow create: if isAuthed();
      allow update: if false;
      allow delete: if isAuthed();
    }

    match /announcements/{docId} {
      allow read:   if true;
      allow create: if isAuthed();
      allow update: if isAuthed();
      allow delete: if isAuthed();
    }

    match /notifications/{docId} {
      allow read:   if isAuthed();
      allow create: if isAuthed();
      allow update: if isAuthed();
      allow delete: if isAuthed();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}